In [1]:
# Connection of my database in the PostgreSQL to jupyter lab

In [6]:
from sqlalchemy import create_engine
import pandas as pd
from typing import List, Dict, Union, Optional,Any

# Replace these with your actual credentials
DB_CONFIG = {
    'host': 'localhost',
    'database': 'Data_Asset_Linkage',
    'user': 'postgres',
    'password': 'password',
    'port': '5432'           
}

# Create connection string
conn_string = f"postgresql+psycopg2://{DB_CONFIG['user']}:{DB_CONFIG['password']}@{DB_CONFIG['host']}:{DB_CONFIG['port']}/{DB_CONFIG['database']}"

# Test connection
try:
    engine = create_engine(conn_string)
    with engine.connect() as conn:
        print("Connection successful!")
        # Example query
        df = pd.read_sql("SELECT version()", conn)
        print(df.iloc[0,0])
except Exception as e:
    print(f"Connection failed: {e}")

Connection successful!
PostgreSQL 17.5 on x86_64-windows, compiled by msvc-19.43.34808, 64-bit

In [13]:
customers = pd.read_sql_table('customer', engine)

In [14]:
accounts = pd.read_sql_table('accounts', engine)

In [15]:
transactions = pd.read_sql_table('transactions',engine)

In [16]:
transactions.head()

   transaction_id   account_no customer_id    amount    transaction_time
0               1  20001234567    CUST_001  185000.0 2025-05-10 10:15:00
1               2  20004578624    CUST_001  -15000.0 2022-12-11 11:30:00
2               3  20001498732    CUST_001  -22000.0 2023-12-11 14:00:00
3               4  20002534697    CUST_002   15000.0 2025-01-05 15:45:00
4               5  20009876543    CUST_002   25000.0 2023-04-05 16:40:00

In [17]:
customers.head()

,id,customer_id,name,dob,email_id,city,update_date
0,1,CUST_001,Rohan Mehta,1992-05-16,rohit.mehta92@gmail.com,Jaipur,2024-09-20
1,2,CUST_001,Rohan Mehta,1992-05-16,rohit.mehta5@rediffmail.com,Kota,2025-05-18
2,3,CUST_001,Rohan Mehta,1992-05-16,rohit.16@outlook.com,Bikaner,2020-11-14
3,4,CUST_002,Priya Sharma,1988-09-22,priya.sharma88@yahoo.com,Patna,2018-12-23
4,5,CUST_002,Priya Sharma,1988-09-22,Priya.sharma@gamil.com,Gaya,2025-04-29

In [18]:
accounts.head()

    account_no account_type customer_id account_status activation_date
0  20001234567      Savings    CUST_001         Active      2021-01-15
1  20004578624      Current    CUST_001       Inactive      2019-05-22
2  20001498732        Demat    CUST_001         Active      2015-11-09
3  20002534697      Current    CUST_002         Active      2017-07-19
4  20009876543      Savings    CUST_002      Suspended      2023-02-15

In [19]:
customers.merge(accounts , how = "left" , on = "customer_id")

,id,customer_id,name,dob,email_id,city,update_date,account_no,account_type,account_status,activation_date
0,1,CUST_001,Rohan Mehta,1992-05-16,rohit.mehta92@gmail.com,Jaipur,2024-09-20,20001234567,Savings,Active,2021-01-15
1,1,CUST_001,Rohan Mehta,1992-05-16,rohit.mehta92@gmail.com,Jaipur,2024-09-20,20004578624,Current,Inactive,2019-05-22
2,1,CUST_001,Rohan Mehta,1992-05-16,rohit.mehta92@gmail.com,Jaipur,2024-09-20,20001498732,Demat,Active,2015-11-09
3,2,CUST_001,Rohan Mehta,1992-05-16,rohit.mehta5@rediffmail.com,Kota,2025-05-18,20001234567,Savings,Active,2021-01-15
4,2,CUST_001,Rohan Mehta,1992-05-16,rohit.mehta5@rediffmail.com,Kota,2025-05-18,20004578624,Current,Inactive,2019-05-22
...,...,...,...,...,...,...,...,...,...,...,...
91,54,CUST_046,Shalini Nair,1991-04-02,shalini.nair91@gmail.com,Chennai,2025-02-03,NaN,NaN,NaN,NaT
92,55,CUST_047,Rohit Verma,1986-11-25,rohit.verma86@outlook.com,Delhi,2024-07-14,NaN,NaN,NaN,NaT
93,56,CUST_048,Megha Srinivas,1990-02-18,megha.srinivas90@gmail.com,Hyderabad,2023-09-08,NaN,NaN,NaN,NaT
94,57,CUST_049,Alok Chaturvedi,1985-09-01,alok.chaturvedi85@yahoo.com,Lucknow,2022-11-19,NaN,NaN,NaN,NaT
95,58,CUST_050,Priyanka Banerjee,1994-06-12,priyanka.banerjee94@gmail.com,Kolkata,2025-04-05,NaN,NaN,NaN,NaT

In [15]:
from importnb import Notebook
with Notebook():
    from Functions import DataJoiner, get_db_engine

dj = DataJoiner(get_db_engine)

In [18]:
dj.get_table_data(table_name="customer")

,id,customer_id,name,dob,email_id,city,update_date
0,1,CUST_001,Rohan Mehta,1992-05-16,rohit.mehta92@gmail.com,Jaipur,2024-09-20
1,2,CUST_001,Rohan Mehta,1992-05-16,rohit.mehta5@rediffmail.com,Kota,2025-05-18
2,3,CUST_001,Rohan Mehta,1992-05-16,rohit.16@outlook.com,Bikaner,2020-11-14
3,4,CUST_002,Priya Sharma,1988-09-22,priya.sharma88@yahoo.com,Patna,2018-12-23
4,5,CUST_002,Priya Sharma,1988-09-22,Priya.sharma@gamil.com,Gaya,2025-04-29
5,6,CUST_003,Arjun Reddy,1995-03-10,arjun.reddy10@outlook.com,Mumbai,2025-05-15
6,7,CUST_004,Neha Kapoor,1990-12-05,neha.kapoor90@gmail.com,Nasik,2024-07-13
7,8,CUST_004,Neha Kapoor,1990-12-05,Neha05@outlook.com,Pune,2025-05-09
8,9,CUST_005,Amitabh Das,1985-07-18,amitabh.das85@gmail.com,Kolkata,2025-02-24
9,10,CUST_006,Ananya Patel,1993-04-12,ananya.patel93@gmail.com,Ahmedabad,2024-08-15
10,11,CUST_006,Ananya Patel,1993-04-12,ananya.p12@rediffmail.com,Surat,2025-03-22
11,12,CUST_007,Vikram Singh,1987-11-30,vikram.singh87@yahoo.com,Lucknow,2019-06-18
12,13,CUST_008,Meera Nair,1991-08-25,meera.nair91@gmail.com,Chennai,2025-01-10
13,14,CUST_008,Meera Nair,1991-08-25,meera.25@outlook.com,Coimbatore,2023-09-14
14,15,CUST_009,Rahul Verma,1989-02-14,rahul.verma89@gmail.com,Delhi,2024-11-05
15,16,CUST_010,Sneha Gupta,1994-07-08,sneha.gupta94@yahoo.com,Kanpur,2023-12-20
16,17,CUST_011,Karthik Iyer,1990-10-03,karthik.iyer90@gmail.com,Bangalore,2025-02-28
17,18,CUST_011,Karthik Iyer,1990-10-03,karthik.03@outlook.com,Mysore,2022-07-15
18,19,CUST_012,Pooja Joshi,1995-01-19,pooja.joshi95@gmail.com,Pune,2024-04-12
19,20,CUST_013,Aryan Malhotra,1986-06-22,aryan.malhotra86@yahoo.com,Chandigarh,2023-10-30
20,21,CUST_014,Divya Reddy,1992-09-17,divya.reddy92@gmail.com,Hyderabad,2025-03-05
21,22,CUST_014,Divya Reddy,1992-09-17,divya.17@rediffmail.com,Vishakapatnam,2021-08-22
22,23,CUST_015,Aditya Rao,1988-12-07,aditya.rao88@outlook.com,Mumbai,2024-07-19
23,24,CUST_016,Shreya Banerjee,1993-03-28,shreya.banerjee93@gmail.com,Kolkata,2025-01-25
24,25,CUST_017,Rajat Kapoor,1987-05-14,rajat.kapoor87@yahoo.com,Delhi,2023-11-11
25,26,CUST_018,Anjali Desai,1991-11-09,anjali.desai91@gmail.com,Ahmedabad,2024-09-03
26,27,CUST_019,Vivek Choudhary,1989-08-31,vivek.choudhary89@outlook.com,Jaipur,2025-04-17
27,28,CUST_020,Ishaani Sengupta,1994-02-26,ishaani.sengupta94@gmail.com,Kolkata,2023-07-08
28,29,CUST_021,Manish Agarwal,1985-04-15,manish.agarwal85@yahoo.com,Patna,2022-12-01
29,30,CUST_022,Tanvi Rana,1990-07-23,tanvi.rana90@gmail.com,Dehradun,2024-10-14
30,31,CUST_023,Siddharth Bose,1992-10-11,siddharth.bose92@outlook.com,Kolkata,2025-02-09
31,32,CUST_024,Nandini Menon,1988-01-30,nandini.menon88@gmail.com,Chennai,2023-05-22
32,33,CUST_025,Abhishek Saxena,1993-06-18,abhishek.saxena93@yahoo.com,Lucknow,2024-08-27
33,34,CUST_026,Preeti Chawla,1987-09-05,preeti.chawla87@gmail.com,Chandigarh,2025-03-12
34,35,CUST_027,Deepak Srinivasan,1991-12-24,deepak.srini91@outlook.com,Bangalore,2023-10-05
35,36,CUST_028,Anushka Trivedi,1994-03-17,anushka.trivedi94@gmail.com,Ahmedabad,2024-11-28
36,37,CUST_029,Rishi Malhotra,1986-08-08,rishi.malhotra86@yahoo.com,Delhi,2022-09-15
37,38,CUST_030,Maya Iyer,1990-05-21,maya.iyer90@gmail.com,Chennai,2025-01-07
38,39,CUST_031,Varun Khanna,1989-11-12,varun.khanna89@outlook.com,Mumbai,2024-06-19
39,40,CUST_032,Shivani Joshi,1992-04-03,shivani.joshi92@gmail.com,Pune,2023-12-14
40,41,CUST_033,Arun Kumar,1987-07-26,arun.kumar87@yahoo.com,Hyderabad,2025-04-02
41,42,CUST_034,Neeta Sharma,1993-10-15,neeta.sharma93@gmail.com,Jaipur,2024-07-21
42,43,CUST_035,Pranav Nair,1988-02-28,pranav.nair88@outlook.com,Bangalore,2023-11-30
43,44,CUST_036,Kavita Reddy,1991-09-09,kavita.reddy91@gmail.com,Hyderabad,2025-02-16
44,45,CUST_037,Harsh Gupta,1985-12-22,harsh.gupta85@yahoo.com,Kanpur,2022-10-08
45,46,CUST_038,Swati Mehra,1994-01-14,swati.mehra94@gmail.com,Delhi,2024-09-05
46,47,CUST_039,Rajeev Menon,1986-06-07,rajeev.menon86@outlook.com,Chennai,2023-08-12
47,48,CUST_040,Pallavi Rao,1990-08-19,pallavi.rao90@gmail.com,Bangalore,2025-03-24
48,49,CUST_041,Amit Sharma,1987-03-11,amit.sharma87@yahoo.com,Jaipur,2024-05-17
49,50,CUST_042,Divya Kapoor,1992-12-05,divya.kapoor92@gmail.com,Mumbai,2023-10-22
50,51,CUST_043,Rakesh Patel,1989-05-28,rakesh.patel89@outlook.com,Ahmedabad,2025-01-13
51,52,CUST_044,Anita Deshpande,1993-07-16,anita.deshpande93@gmail.com,Pune,2024-08-09
52,53,CUST_045,Vikram Bhat,1988-10-09,vikram.bhat88@yahoo.com,Bangalore,2023-12-27
53,54,CUST_046,Shalini Nair,1991-04-02,shalini.nair91@gmail.com,Chennai,2025-02-03
54,55,CUST_047,Rohit Verma,1986-11-25,rohit.verma86@outlook.com,Delhi,2024-07-14
55,56,CUST_048,Megha Srinivas,1990-02-18,megha.srinivas90@gmail.com,Hyderabad,2023-09-08
56,57,CUST_049,Alok Chaturvedi,1985-09-01,alok.chaturvedi85@yahoo.com,Lucknow,2022-11-19
57,58,CUST_050,Priyanka Banerjee,1994-06-12,priyanka.banerjee94@gmail.com,Kolkata,2025-04-05

In [21]:
dj.universal_data_join(tables_to_join=["customer","transactions"],
                        join_keys={"customer":"customer_id","transactions":"customer_id"}
                      )

,id,customer_id,name,dob,email_id,city,update_date,transaction_id,account_no,amount,transaction_time
0,1,CUST_001,Rohan Mehta,1992-05-16,rohit.mehta92@gmail.com,Jaipur,2024-09-20,1.0,20001234567,185000.0,2025-05-10 10:15:00
1,1,CUST_001,Rohan Mehta,1992-05-16,rohit.mehta92@gmail.com,Jaipur,2024-09-20,2.0,20004578624,-15000.0,2022-12-11 11:30:00
2,1,CUST_001,Rohan Mehta,1992-05-16,rohit.mehta92@gmail.com,Jaipur,2024-09-20,3.0,20001498732,-22000.0,2023-12-11 14:00:00
3,2,CUST_001,Rohan Mehta,1992-05-16,rohit.mehta5@rediffmail.com,Kota,2025-05-18,1.0,20001234567,185000.0,2025-05-10 10:15:00
4,2,CUST_001,Rohan Mehta,1992-05-16,rohit.mehta5@rediffmail.com,Kota,2025-05-18,2.0,20004578624,-15000.0,2022-12-11 11:30:00
...,...,...,...,...,...,...,...,...,...,...,...
92,54,CUST_046,Shalini Nair,1991-04-02,shalini.nair91@gmail.com,Chennai,2025-02-03,NaN,NaN,NaN,NaT
93,55,CUST_047,Rohit Verma,1986-11-25,rohit.verma86@outlook.com,Delhi,2024-07-14,NaN,NaN,NaN,NaT
94,56,CUST_048,Megha Srinivas,1990-02-18,megha.srinivas90@gmail.com,Hyderabad,2023-09-08,NaN,NaN,NaN,NaT
95,57,CUST_049,Alok Chaturvedi,1985-09-01,alok.chaturvedi85@yahoo.com,Lucknow,2022-11-19,NaN,NaN,NaN,NaT
96,58,CUST_050,Priyanka Banerjee,1994-06-12,priyanka.banerjee94@gmail.com,Kolkata,2025-04-05,NaN,NaN,NaN,NaT